#introduction {
	background-image: url("images/BackgroundDiamondOre.jpg");
}
.intro-text {
	background-color: white;
	opacity: 0.55;
	width: 60%;
}
.title {
	text-align: center;
}
#aboutme {
	background: radial-gradient(#51376b, #712891, #9231bc, #bcb731);
}